<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Template Website</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='fontawesome.all.css') }}">
        <script src="{{ url_for('static', filename='bootstrap.bundle.min.js') }}"></script>
        <script src="{{ url_for('static', filename='jdenticon.min.js') }}"></script>
    </head>
    <body>
        {% include 'navbar.html' %}

        {% block content %}
        {% endblock %}
    </body>
</html>